<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Register Page</title>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 login-section-wrapper">
          <div class="login-wrapper my-auto">
            <h1 class="login-title">Register Here</h1>
            {% if messages %}
            {% for message in messages%}
            <h1 class="login-title badge badge-light" style="color:red;">{{message}}</h1>
            {% endfor%}
            {% endif %}
            
            <form method="post">
              {% csrf_token %}
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" class="form-control" placeholder="John Doe">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="abc@gmail.com">
              </div>
              <div class="form-group">
                <label for="phone_field">Mobile No.</label>
                <input type="text" name="phone_field" id="phone_field" class="form-control" placeholder="5555566666">
              </div>

              <div class="form-group mb-4">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="enter your passsword">
              </div>

              <div class="form-group mb-4">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" name="confirm_password" id="confirm_password" class="form-control" placeholder="enter your passsword again">
              </div>
              <button type="submit" class="btn btn-block login-btn">Register</button>
  
            </form>
            <!-- <a href="#!" class="forgot-password-link">Forgot password?</a> -->
            <p class="login-wrapper-footer-text">Already have an account? <a href="{% url 'user_login' %}" class="text-reset">Login here</a></p>
          </div>
        </div>
        <div class="col-sm-6 px-0 d-none d-sm-block">
          <img src="{% static 'img/login_page.jpg' %}" alt="login image" class="login-img" style="object-fit: cover;">
        </div>
      </div>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
